@import "tailwindcss";

.font-santokki {
  font-family: "HSSanTokki", sans-serif;
}

@font-face {
  font-family: "HSSanTokki";
  src: url("/fonts/HSSanTokki.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NanumGothicLight.otf") format("");
}

@font-face {
  font-family: "NanumGothic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NanumGothic.otf") format("");
}

@font-face {
  font-family: "NanumGothic";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NanumGothicBold.otf") format("");
}

:root {
  --background: #f8f9fa;
  --black: #2f3438;
  --color-gray-400: #828c94;
  --color-gray-300: #b4bac2;
  --color-gray-200: #e5e8eb;
  --color-gray-100: #f2f3f5;
  --color-primary-200: #0096fa;
  --color-primary-100: #93c9ff;
  --color-primary-100-50: #93c9ff50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--black);
  font-family: "NanumGothic", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.shadow-card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
